<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>
<body>
	<form action="/process" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" >
		<input type="submit" name="send" value="send">
	</form>
	<div id='grafico_saldo'></div>
	
	<!-- <script type="text/javascript" src="{{ url_for('.static', filename='js/grafico_linha.js') }}"></script> -->
	<script type="text/javascript" src="{{ url_for('.static', filename='js/grafico_saldo.js') }}"></script>
</body>
</html>